.forecast {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.daily {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  height: 200px;
  width: 85%;
  margin: auto;
  margin-bottom: 20px;
}

.daily:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(211, 211, 211);
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}

.date-block {
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  margin-left: 30px;
}

.temp {
  display: flex;
  align-items: center;
  font-size: 70px;
}

.daily-text {
  font-size: 25px;
}

.weather-description {
  text-align: center;
  display: flex;
  align-items: center;
}

.icon,
.day-temp {
  margin-right: 20px;
}

.night-temp {
  font-size: 0.7em;
  color: rgb(170, 170, 170);
}

.daily-humidity {
  margin-right: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 40px;
}

.mr10 {
  margin-right: 10px;
}
