.form-container{
    padding-top: 40px;
    width: 80%;
    margin: auto;
}

form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search {
    min-width: 230px;
    display: inline-flex;
    background-color: rgb(240, 240, 240);
    border-radius: 30px;
    padding: 5px;
}

.search-field {
  background-color: rgb(240, 240, 240);
  margin-left: 15px;
  width: 80%;
  border: 0; 
}

.search-field:focus {
  outline: none;
}

.local-weather-btn{
    background-color: rgb(240, 240, 240);
    border: none;
    border-radius: 30px;
}

.local-weather-btn:hover{
  cursor: pointer;
  background-color: rgb(170, 170, 170);
}