.weather-container {
  height: 60vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.city {
  /* background-color: beige; */
  font-size: 36px;
  letter-spacing: 2px;
  text-align: center;
  margin: 25px auto 10px auto;
}

.temp-icon {
  /* background-color: bisque; */
  display: flex;
  justify-content: center;
}

.degrees {
  display: flex;
  align-items: center;
}

.weather-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110px;
  margin: 25px;
}

.description,
.feels-like {
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.7px;
}

.feels-like {
  color: rgb(155, 155, 155);
}

.weather-info {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(190, 190, 190);
  margin-bottom: 25px;
}

.degrees {
  font-size: 68px;
}

.humidity,
.pressure,
.wind {
  font-size: 20px;
  margin-bottom: 20px;
}

.humidity i,
.pressure i,
.wind > i {
  margin-right: 20px;
  font-size: 30px;
}

.direction {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
}
